/* - - - - - - - - - - - - - - - - - - - - -

 Title : Example CSS 1 - Summer Watermelon
 Author : EmailMeForm
 URL : http://emailmeform.com

 Last Updated : June 22, 2011

 - - - - - - - - - - - - - - - - - - - - - -

INSTRUCTIONS

You can modify all or portions of these CSS rules.

- - - - - - - - - - - - - - - - - - - - - */


/* -- Logo -- */

#emf-container #emf-logo a /* logo image */
{
  background-repeat:no-repeat;
  text-indent:-99999px;
  background-color:blue;
  padding-bottom:5px;
  background-repeat: no-repeat;
  height: 60px;
}


/* -- Backgrounds -- */

body /* wallpaper */
{
  background-image: url(http://i.imgur.com/Vx2C4LM.jpg);
  
}

#emf-container #emf-logo /* header */
{
  background-image: none;
  background-color: #FFFFFF;
}

#emf-container /* form */
{
  background-color: #FFFFFF;
}

#emf-container div.emf-div-field input, /* field */
#emf-container div.emf-div-field textarea,
#emf-container div.emf-div-field select
{
  background-color: #FFFFFF;
}

#emf-container #emf-form ul li.highlight-field /* highlight */
{
  background-color: #FFFFFF;
}

#emf-container li .emf-div-instruction, #emf-container li .emf-div-field label /* instructions */
{
  background-color: none;
}


/* -- Typography -- */

#emf-container #emf-form-title /* title */
{
  font-family: Trebuchet MS;
  font-style: normal;
  
  font-size: 20px;
  color: blue;
}

#emf-container #emf-form-description /* description */
{
  font-family: Arial;
  font-style: normal;
  font-size: 15px;
  color: blue;
}

#emf-container label.emf-label-desc /* field title */
{
  font-family: Trebuchet MS;
  font-style: normal;
  font-size: 15px;
  color: blue;
}

#emf-container div.emf-div-field input, /* field text */
#emf-container div.emf-div-field textarea,
#emf-container div.emf-div-field select
{
  font-family: Arial;
  font-style: normal;
  font-size: 12px;
  color: blue;
}

.emf-li-field.emf-field-email.data_container{
  width:200px!important;
  position:absolute!important;
}
.emf-li-field.emf-field-phone.data_container.emf-li-half-width.cell_align_left{
  margin-left:300px!important;	
}	
	
#emf-container li .emf-div-instruction, #emf-container li .emf-div-field label /* instructions */
{
  font-family: Arial;
  font-style: italic;
  font-size: 10px;
  color:blue;
}


/* -- Borders -- */

#emf-container /* form */
{ 
  border-top: gray 2px solid; 
  border-right: gray 2px solid;
  border-bottom: ligh-gray 2px solid;
  border-left: light-gray 2px solid; 
}

#emf-container #emf-logo /* header */
{
  -moz-border-radius:2px 2px 0 0;
  -webkit-border-radius:2px 2px 0 0;
}

/* -- Shadows -- */

#emf-container-outer #emf-form-shadows /* bottom shadow image */
{
  display:block;
  margin:0 auto;
  height:9px;
  width:640px;
  border:medium none;
  visibility: visible;
}

/* -- Separator Lines -- */

#emf-container .emf-head-widget, #emf-container li .emf-section-separator{
  border-bottom-style: dashed;
  border-color: #3D484B;
}

/* -- Section Title -- */

#emf-container li.emf-field-section_break div.emf-div-field-section h3{
	font-family: Trebuchet MS;
	font-size:19px;
}

/* -- Section Text -- */

#emf-container li.emf-field-section_break .emf-section-text{
  font-family: Arial;
  font-style: normal;
  font-size: 13px;
  color: blue;
}

/* -- Buttons -- */

#emf-container .emf-action-next /* next button */
{
}

#emf-container .emf-action-previous /* previous button */
{
}

#emf-container #submit_form /* submit button */
{
}


/* -- CAPTCHA -- */

#emf-container li#emf-li-captcha #emf-captcha-top-settings
{
  background-color:#AAD6AA;
  color:#FFFFFF;
}

#emf-container li#emf-li-captcha #emf-captcha-bottom-settings
{
  background-color:#E4F8E4;
}

#emf-container li#emf-li-captcha #emf-captcha-input-settings,
#emf-container li#emf-li-captcha #emf-captcha-input-settings a
{
  color:blue;
}


/* -- Error message -- */

#emf-container .emf-error-message
{
  margin: 10px;
  padding: 10px;
  border: 2px dashed #FF0000;
}
